<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tech Talent Marketplace</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="public/js/script.js"></script>
</head>

<body>
    <div class="slide">
        <a id="hamburger" href="#" onclick="openSlideMenu()">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div class="wrapper">
        <div class="main">
            <nav>
                <div class="menu-left">
                    <span class="logo">Tech Talent Marketplace</span>
                </div>
                <div class="menu-center">
                    <a href="#">Home</a>
                    <a href="#">Find an Expert</a>
                </div>
                <div class="menu-right">
                    <a href="./login.html" class="login-button">Log In</a>
                </div>
            </nav>
            <section class="hero">
                <img src="public/img/main_image.jpeg" alt="Placeholder image">
                <div class="hero-content">
                    <h1>Find the Best IT Experts - Your Center for Specialist Services</h1>
                    <p>Welcome to your center for IT specialist services! Our platform allows for easy and fast search
                        for the best IT experts. From programmers and web developers to experts in cybersecurity and
                        artificial intelligence, we offer a wide selection of specialists from different fields.</p>
                </div>
            </section>
            <section class="features">
                <div class="feature">
                    <h2>Rich Database of IT Specialists</h2>
                    <p>Find an expert that meets your requirements: Our platform offers a rich database of IT
                        specialists with various skills and experience.</p>
                </div>
                <div class="feature">
                    <h2>Custom Projects</h2>
                    <p>Collaborate with IT experts to develop software tailored to your needs: Do you need software
                        tailored to your needs? Our platform allows you to collaborate with IT experts that will develop
                        software customized to your requirements.</p>
                </div>
                <div class="feature">
                    <h2>Verified Users</h2>
                    <p>Safer and more effective collaboration with IT experts: Our platform ensures the safety of our
                        users by verifying the profiles of our IT specialists.</p>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer-content">
                <p>© BrandName. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <div id="menu" class="nav">
        <a href="#" class="close" onclick="closeSlideMenu()">
            <i class="fas fa-times"></i>
        </a>
        <a href="#" onclick="closeSlideMenu()">Home</a>
        <a href="#" onclick="closeSlideMenu()">Find an Expert</a>
        <a id="logIn" href="#" onclick="closeSlideMenu()">LogIn</a>
    </div>
</body>

</html>