.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px); /*100vh to 100% wysokości widoku, odejmujemy 200px, bo mamy stopkę i menu górne*/
}

.login-container {
    flex-wrap: wrap;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
    margin-right: 2rem;
}

.login-image img {
    width: 490px;
    height: 400px;
    object-fit: cover;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-family: 'Mulish', sans-serif;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
    background-color: rgba(60, 100, 177, 0.1);
    padding: 0.7rem;
    border: 0px solid #ccc;
    border-radius: 1px;
}

button[type="submit"] {
    margin-top: 1rem;
    background-color: #3C64B1;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

#title {
    font-size: 1.8em;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #2d81ff;
}

.signup-link {
    font-family: 'Mulish', sans-serif;
    position: absolute;
    bottom: 100px;
    right: 100px;
    text-align: right;
    width: 100%;
}

.signup-link a {
    color: #3C64B1;
    font-weight: bold;
    text-decoration: underline;
}